.mini-nav{
    height: 50px;
    width: 100%;
}
.sec-main{
    justify-content: space-between;
}
.location{
    color: #AB7442;
}
.address a{
    text-decoration: none;
    color: black;
    margin-left: 8px;
    letter-spacing: .5px;
    font-size: 15px;
   
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.address{
    margin-left: 20px;
    padding-top: 13px;
    width: 230px;
}
.watch{
    color: #AB7442;
}
.time{
    margin-left: 20px;
    padding-top: 13px;
    width: 310px;
}
.time a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin-left: 8px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.phone{
    color: #AB7442;
}
.contact{
    margin-left: 220px;
    padding-top: 15px;
    width: 150px;
    height: 50px;


}
.contact a{
    text-decoration: none;
    color: black;
    
    font-size: 15px;
    margin-left: 8px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.icons{
    margin-left: 50px;
    padding-top: 9px; 
    width:180px;
 
    height: 50px;
}
.icons i{
    color: #AB7442;
    border: 0px solid rgb(227, 223, 223);
    
    background-color: white;
    font-size: large;
    padding: 9px;
}
                     /* nav bar */

.nav-bar ul{
    /* border: 1px solid red; */
    height: 60px;
    gap: 2px;
    width: 100%;
  
    margin-left: 350px;
      
}
.nav-item a{
  margin-top: 5px;  
} 
.nav-bar {
    background-color: white;
    width: 100%;
    height: 70px;
    margin-left: 10px;
 
}  
 .wood-label h3{
    color:#AB7442;
    font-weight: 600;
    font-size: larger;
}
.nav-boot{
   
    margin-left: 20px;
} 
.nav-bar li a{
 margin-left:25px;
 color: red;
}                         
.quote {
    margin-left: 2px;
    border:1px solid #AB7442;
    background-color: #AB7442;
   padding-bottom: 50px;
   padding-right: 60px;
    height: 70px;
}
span li a{
    color: white;
}
.carosel1{
   position: relative;
}
.label1{
    position: absolute;
    background-color: red;
}
.label1 h6 h1 p{
    color: white;
    
}
/* faded */
.fade-main{
    height: 300px;
    background-color:white;
    display: flex;
    flex-wrap: wrap;
    gap:40px;
}
.creative{
    display: flex;
  justify-content: end;
  align-items: center;
    width: 22%;
    gap: 30%;
}
.creative i{
    font-size: 40px;
    color: #AB7442;
    background-color:#f5f5f5 !important;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
}
 .creative span h2{
    float: right;
    font-size: 80px;
    color: rgba(128, 128, 128, 0.295);
}

.quality{
    display: flex;
  justify-content: end;
  align-items: center;
    width: 22%;
    gap: 30%;
}
.quality i{
    font-size: 40px;
    color: #AB7442;
    background-color:#f5f5f5 !important ;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
}
.quality span h2{
    float: right;
    font-size: 80px;
    color: rgba(128, 128, 128, 0.295);
}
.free{
    display: flex;
  justify-content: end;
  align-items: center;
    width: 22%;
    gap: 30%;
}
.free i{
    font-size: 40px;
    color: #AB7442;
    background-color:#f5f5f5 !important ;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
}
.free span h2{
    float: right;
    font-size: 80px;
    color: rgba(128, 128, 128, 0.295);
}

.customer{
    display: flex;
  justify-content: end;
  align-items: center;
    width: 22%;
    gap: 30%;
}
.customer i{
    font-size: 40px;
    color: #AB7442;
    background-color:#f5f5f5 !important ;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
}
.customer span h2{
    float: right;
    font-size: 80px;
    color: rgba(128, 128, 128, 0.295);
}
.about-us{
    display: flex;
    
    width: 100%;
  
}
.about-ic-main{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.about-img img{
    height: 100%;
    width: 580px;
}
.about-ic-label{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
    margin-left: 30px;
}
.about-label{
    background-color: #f5f5f5;
    width: 50%;    
}
.about-label h1{
    margin-top: 15%;
    margin-left: 5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.para{
    width: 530px;
    margin-left: 30px;
}
.about-label p{
    text-align: justify;
    letter-spacing: 1px;
    padding-top: 2%;
}
.about-icon i{
    font-size: 40px;
   
   
    color: #AB7442;
    background-color:white ;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
  
}
.about-row{
    padding-top: 20px;
    padding-left: 30px;
}
.user-happy{
    gap: 30px;
}
.about-label1 h3{
    color: #AB7442;
    
    font-weight: 600;
}

.about-label2 h3{
    color: #AB7442;
}
.about-btn{
    margin-left: 30px;
    margin-top: 15px;
    width: 35%;
    height: 8%;
    border: 0px solid#AB7442;
    background-color: #AB7442;
    color: white;
}
.about-us{
    height: 500px;
}
/* our service */
.our-service{
    padding-top: 15%;

}
.our-service h1{
    text-align: center;
    font-weight: bold;
}
.our-cards{
    padding-top: 5%;
    justify-content: space-evenly;
    
}
.card-btn{
    margin-left: 25%;
    border: none;
    color: #AB7442;
    background-color: white;
}
.sec-row{
    padding-top: 3%;
}
.why-us{
    padding-top: 10%;
    height: 720px;
    display: flex;
    flex-wrap: wrap;
    
    width: 100%;
}
.why-label1 h3{
    font-size: large;
    font-weight: bold;
}
/* project */
.our-projects{
    margin-top: 30px;
}
.our-projects h1{
    text-align: center;
    font-weight: bold;
}
.project-navs{
    display: flex;
    cursor: pointer;
    padding-top: 3%;
    justify-content: center;
    gap: 20px;
}
.project-navs p:hover{
    border-bottom:2px solid  #AB7442;
    transition: .1s;
}
.project-navs span p{
    border-bottom: 2px solid #AB7442;
}
.project-cards h6{
    color: #AB7442;
}
.project-cards p{
    font-weight: 600;
}
.sec-project{
    padding-top: 5%;
}
/* free quote */
.free-quote{
    margin-top: 5%;
    background-color: #f5f5f5;
    display: flex;
    height: 600px;
    flex-wrap: wrap;
}
.free-quote img{
    width: 580px;
    height: 600px;
}
.free-label {
    padding-top: 15%;
}
.free-label h1{
    margin-left: 30px;
    font-weight: bolder;
}
.free-label p{
    padding-top: 20px;
}
.free-input{
    margin-left: 30px;
  
   
}
.free-input input{
    gap: 20px;
    height: 50px;
    border: 0;
    margin-left: 15px;
    margin-top: 6%;
    width: 40%;
}
.free-input input::placeholder{
    margin-left: 5px;
    padding: 10px;
}
 select{
    gap: 20px;
    height: 50px;
    margin-left: 15px;
    margin-top: 6%;
    border: 0px;
    width: 40%;
}
textarea{
    gap: 20px;
    height: 50px;
    margin-left: 15px;
    margin-top: 6%;
    border: 0px;
    width: 84%;
}
.input-btn button{
    margin-left: 15px;
    width: 84%;
    margin-top: 10px;
    border: 0;
    background-color: #AB7442;
    height: 35px;
    color: white;
}
.team-members h1{
    margin-top: 8%;
    text-align: center;
    font-weight: bold;
}
.team-card{
    display: flex;
    flex-wrap: wrap;
    padding-top: 8%;
    justify-content: space-evenly;
}
.team-label{
    text-align: center;
}
.team-label h5{
    font-weight: bold;
}
.testimonal h1{
    text-align: center;
    padding-top: 8%;
    font-weight: bold;
}
.footer{
    height: 400px;
    background-color: #353535;
}
.f-upper{
    padding-top: 6%;
    display: flex;
    flex-wrap: wrap;
    gap: 7%;
    padding-left: 5%;
}
.f-address h4,i,a{
color: white;
}
.f-address {
    width: 220px;
}
.f-address a{
    margin-left:10px;
    padding-top: 0px;
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.f-address a:hover{
    color: #AB7442;
    letter-spacing: 1.5px;
    transition: .2s;
}
.f-address div{
    margin-top: 10px;
}
.f-icons i{
  margin-left: 8px;
  margin-top: 10px;
  font-size: 12px;
  border: 1px solid white;
  padding: 10px;
}
.arrow i{
  
 font-size: 12px;  
}
.f-letter h4{
    color: white;
}
.f-letter p{
    color: white;
    width: 250px;
    margin-top: 8%;
}
.f-input input{
    height: 60px;
    width: 100%;
}
.f-input input,i::placeholder{
    padding-left: 10px;
}
.f-lower{
    border-bottom: 1px solid rgba(255, 255, 255, 0.521);
    width:80%;
    margin: auto;
    padding-top: 5%;
}
.copy{
    display: flex;
    flex-wrap:wrap;
    padding-top: 2%;
    justify-content: space-between;

}
.copy p{
    color: white;
    font-size: small;
}