<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project|woody</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/project.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
      <!-- mini nav -->

      <div class="container-fluid bg-light mini-nav">
        <div class="row main-row">
          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-3 address">
                <i class="fa fa-map-marker location" aria-hidden="true"><a href="">123 street,New
                    York,USA</a></i>
              </div>
              <div class="col-lg-3 time">
                <i class="fa fa-clock-o watch" aria-hidden="true"><a href="">Mon - Fri : 09.00 AM - 09.00
                    PM</a></i>
              </div>
            </div>
          </div>
          <div class="col-lg-6 sec-main">
            <div class="row">
              <div class="col-lg-3 contact">
                <i class="fa fa-phone phone" aria-hidden="true"><a href="">+123 456789</a></i>
              </div>
              <div class="col-lg-3 icons">
                <i class="fa fa-facebook fb" aria-hidden="true"></i>
                <i class="fa fa-twitter tweet" aria-hidden="true"></i>
                <i class="fa fa-linkedin linked" aria-hidden="true"></i>
                <i class="fa fa-instagram insta" aria-hidden="true"></i>
              </div>
            </div>
          </div>
  
        </div>
      </div>

        <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light navoo">
        <div class="container-fluid">
            <div class="main-1st-section">WooDY</div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse main-2nd-section" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link active" aria-current="page" id="home-in-nav" href="/index.html">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="./about.html">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="./service.html">SERVICE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">PROJECT</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            PAGES
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Feature</a></li>
                            <li><a class="dropdown-item" href="#">Free Quote</a></li>
                            <li><a class="dropdown-item" href="#">Our Team</a></li>
                            <li><a class="dropdown-item" href="#">Free Quote</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="./contact.html">CONTACT</a>
                    </li>
                </ul>
            </div>
            <div class="main-3rd-section">
                <a href="">Get A Quote<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </nav>

    
    <!-- banner -->
    <div class="banner">
        <img src="../images/about-1.jpg" class="img-fluid" alt="...">
        <div class="banner-label">
            <h1>Project</h1>
            <div class="banner-label2">
                <p>Home /</p>
            <p>Pages /</p>
            <p>About </p>
            </div>
        </div>
    </div>
  
    
   <!-- our projects -->
    
   <div class="container our-projects">
    <h1>__Our Projects__</h1>
    <div class="project-navs">
      <span>
        <p>All</p>
      </span>
      <p>General Carpentary</p>
      <p>Custom Carpentary</p>
    </div>

    <div class="project-cards">
      <div class="row">
        <div class="col-lg-4">
          <div class="card wood-card">
            <img src="../images/portfolio-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">General Carpentry</h6>
              <p class="card-text">Wooden Furniture Manufacturing And Remodeling</p>

            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card wood-card">
            <img src="../images/portfolio-2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">General Carpentry</h6>
              <p class="card-text">Wooden Furniture Manufacturing And Remodeling</p>

            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card wood-card">
            <img src="../images/portfolio-3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">General Carpentry</h6>
              <p class="card-text">Wooden Furniture Manufacturing And Remodeling</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row sec-project">
        <div class="col-lg-4">
          <div class="card wood-card">
            <img src="../images/portfolio-4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">General Carpentry</h6>
              <p class="card-text">Wooden Furniture Manufacturing And Remodeling</p>

            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card wood-card">
            <img src="../images/portfolio-5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">General Carpentry</h6>
              <p class="card-text">Wooden Furniture Manufacturing And Remodeling</p>

            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card wood-card">
            <img src="../images/portfolio-6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">General Carpentry</h6>
              <p class="card-text">Wooden Furniture Manufacturing And Remodeling</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

     <!-- footer -->
     <div class="footer">
        <div class="f-upper">
          <div class="f-address">
            <h4>Address</h4>
            <div> <i class="fa fa-map-marker " aria-hidden="true"><a href="">123 street,New York,USA</a></i></div>
            <div>  <i class="fa fa-phone " aria-hidden="true"><a href="">+123 456789</a></i></div>
            <div><i class="fa fa-envelope" aria-hidden="true"><a href="">info@example.com</a></i></div>
            <div class="f-icons">
              <i class="fa fa-facebook fb" aria-hidden="true"></i>
              <i class="fa fa-twitter tweet" aria-hidden="true"></i>
              <i class="fa fa-youtube-play insta" aria-hidden="true"></i>
              <i class="fa fa-linkedin linked" aria-hidden="true"></i>
             
            </div>
          </div>
          <div class="f-service">
            <div class="f-address">
              <h4>Services</h4>
              <div class="arrow"> <i class="fa fa-chevron-right  " aria-hidden="true"><a href="">General Carpentry</a></i></div>
              <div class="arrow">  <i class="fa fa-chevron-right " aria-hidden="true"><a href="">Furniture Remodeling</a></i></div>
              <div class="arrow"><i class="fa fa-chevron-right" aria-hidden="true"><a href="">Wooden Floor</a></i></div>
              <div class="arrow"><i class="fa fa-chevron-right" aria-hidden="true"><a href="">Wooden Furniture</a></i></div>
              <div class="arrow"><i class="fa fa-chevron-right" aria-hidden="true"><a href="">Custom Carpentry</a></i></div>
          </div>
          </div>
          <div class="f-quicklines">
            <div class="f-address">
              <h4>Quick Links</h4>
              <div class="arrow"> <i class="fa fa-chevron-right " aria-hidden="true"><a href="">About Us</a></i></div>
              <div class="arrow">  <i class="fa fa-chevron-right " aria-hidden="true"><a href="">Contact Us</a></i></div>
              <div class="arrow"><i class="fa fa-chevron-right" aria-hidden="true"><a href="">Our Services</a></i></div>
              <div class="arrow"><i class="fa fa-chevron-right" aria-hidden="true"><a href="">Terms & Conditions</a></i></div>
              <div class="arrow"><i class="fa fa-chevron-right" aria-hidden="true"><a href="">Support</a></i></div>
          </div>
          </div>
          <div class="newsletter">
            <div class="f-letter">
              <h4>Newsletter</h4>
              <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
              <div class="f-input">
                <input type="text" placeholder="Your Email">
              </div>
            </div>
          </div>
        </div>
        <div class="f-lower"></div>
        <div class="container copy">
          <p>© Your Site Name, All Right Reserved.</p>
          <p>Designed By HTML Codex</p>
        </div>
  
        </div>
  
    








    
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
  integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
  integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
  crossorigin="anonymous"></script>
</body>
</html>